.container{
    
}

.card{
    margin: 0 5px !important;
}

.infected{
    border-bottom: 5px solid rgba(90, 90, 185, 0.5) !important;
    border-top: 5px solid rgba(90, 90, 185, 0.5) !important;
}

.infected:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='26' height='31' viewport='0 0 100 100' style='fill:black;font-size:16px;'><text y='50%'>😱</text></svg>") 16 0, auto !important;
}

.recovered{
    border-bottom: 5px solid rgba(90, 185, 90, 0.5) !important;
    border-top: 5px solid rgba(90, 185, 90, 0.5) !important;
}

.recovered:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='26' height='31' viewport='0 0 100 100' style='fill:black;font-size:16px;'><text y='50%'>😀</text></svg>") 16 0, auto !important;
}

.deaths{
    border-bottom: 5px solid rgba(185, 90, 90, 0.5) !important;
    border-top: 5px solid rgba(185, 90, 90, 0.5) !important;
}

.deaths:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='26' height='31' viewport='0 0 100 100' style='fill:black;font-size:16px;'><text y='50%'>❗</text></svg>") 16 0, auto !important;
}